 /* Configurações gerais */
 @media all{
     *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    html, body{
        width: 100vw;
        height: 100vh;
        background-color: blanchedalmond;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    h1{
        color: white;
        text-shadow: 2px 2px 0px #1828a1;
        padding: 10px;
    }
 }

/* Dispositivo na orientação retrato (portrait) */
@media screen and (orientation: portrait) {
    body{
        background-color: black;
        background-image: url("../imgs/cev-portrait.jpg");
        background-position: center bottom;
    }
}

/* Dispositivo na orientação paisagem (landscape) */
@media screen and (orientation: landscape) {
    body{
        background-color: rgb(208, 129, 26);
        background-image: url("../imgs/cev-landscape.jpg");
        background-position: left bottom;
    }
}